* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #e7e5e7;

  }
  
  /* #search-box {
    font: inherit;
    padding: 8px;
    max-width: 320px;
    margin-bottom: 16px;
  } */